*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}
body{
  height: 100vh;
}
#main{
   width: 100vw;
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
#main1{
   width: 85%;
   height: 100vh;
  /* background-color: blue; */
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
}
#mainleft{
  width: 50%;
  height: 100vh;
  /*background-color: violet;*/
  
}

#mainlefttop{
  height: 20%;
  width: 100%;
  /*background-color: rgb(218, 35, 202);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -15%;
}
#mainlefttop{
  color: black;
}

#logo{
  width: 150px;
  height: 150px;
  margin-top: 20px; 
  margin-left: 60px;
}
#heading{
  margin-top: 80px;
}

/* #mainleftbottom{
  height: 80%;
  width: 100%;
  background-color: rgb(240, 208, 69);
  display: flex;
  justify-content: center;
  align-items: center;
} */
#centerlogo{
  height: 300px;
  width: 300px;
  margin-left: 100px;
}





/******************************************Main Right****************************************************/


#mainright{
  width: 47vw;
  height: 95vh;
  z-index: 50;
  display: flex;
  background: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(69, 89, 131, 0.18);
  border-radius: 30px;
  position: relative;
  top: 20px;
}

#registermain{
   font-size: 50px;
   color: black;
   background: transparent;
}


/****************************************Form *************************************/

#formm{
   margin-top: 20px;
   height: 85%;
   width: 90%;
   border-radius: 25px;
   /* background-color:#B0BAE9; */
   margin-left: 10px;
   opacity: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#registermain2{
   display: none;
}
#formmain{
   width: 90%;
   margin-top: 5%;
   margin-left: 5%;

}

input{
   width: 90%;
   height: 40px;
   border: 3px solid;
   background: transparent;
   border-radius: 5px;
   outline: none;
   border-color: #0525BC;
   margin-top: 10px;
   font-size: 18px;
   font-weight: 550;
   text-decoration: none;
   /* color: tomato; */
}
input::placeholder {
  /* color: #5d5c61; */
  padding: 10px;
  font-weight: 400;
}
#outlined-basic{
  width: 20vw;
  height: 10vh;
  border: 3px solid;
  background: transparent;
  border-radius: 5px;
  outline: none;
  border-color: #0525BC;
  margin-top: 10px;
  font-size: 18px;
  text-decoration: none;
}
select{
  width: 91%;
  height: 43px;
  border: 3px solid;
  background: transparent;
  color: #787070;
  font-weight: 550;
  padding-left: 10px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  outline: none;
  border-color: #0525BC;
  margin-top: 10px;
  font-size: 18px;
  /* color: tomato; */
}
/* select.sel option:hover{  
  background-color: black;
  border-bottom-left-radius: ;
} */
select option{
  margin: 40px;
  background: rgba(240, 23, 23, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
#btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#submitbtn{ 
margin-top: 20px;
margin-bottom: 20px;
}
#mainleft{
  background-image: url("././img/Group\ 56\ \(1\).svg") ;
  background-repeat: no-repeat;
}
/*********************************************new************************************/
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
h1 {
  font-family: Jost;
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 59px;
   color: #113B7A;
   margin-bottom: -6px;
}
select option {
  background:rgb(218, 216, 216);
  color: black;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
#para {
  margin-bottom: 30px;
  font-size: 12px;
  color: #787070;
}
input,select{
  height: 35px;
  width:90% ;
  background: rgba(196, 196, 196, 0.3);
  font-size: 0.8rem;
  border: 2px solid rgb(217, 216, 230);
  /* margin-bottom: 10px; */
  border-radius: 30px;
  padding: 0px 15px;
  
}
input{
  position: relative;
}
input::placeholder{
  color: transparent;
}
select{
  font-size: 0.9rem;
  display: inline-block;
  width: 45%;;
}
#select3{
  /* position: relative;
  right: 2%; */
  height: 35px;
  width: 14.8vw;
  margin: 12px 0px -15px 0px;
}
.input{
  position: relative;
}
.label{
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: -20;
  cursor: text;
  transition: top 200ms ease-in,
  font-size 200ms ease-in;
  color: #787070;
}
input:focus ~ .label,
input:not(:placeholder-shown)~.label
{
  top:0.6rem;
  font-size: 0.6rem ;
}
#submitbtn {
  border-radius: 30px;
  border: 2px solid rgb(2, 2, 112);
  color: rgb(2, 2, 112);
  background-color: transparent;
  position: relative;right: 13.4vw;;
}
#buffer{
  display: none;
}
.inline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;   
  /* width: 35.2vw; */
  width: 90%;
  height: 20px;
  margin: 15px 0px 15px 0px;
}
p{
  margin-bottom: 0;
}
/******************************************************Media Query ******************************************************/
     

@media (max-width:1132px ){
  #mainleft{
      display: none;
  }
  #main {
      background:  linear-gradient(rgba(255, 255, 255, 0.808),rgba(255, 255, 255, 0.08)), url("./img/Group\ 56\ \(1\).svg") no-repeat ;
      background-size:  99vw 82vh;
  }
  #main1{
      width: 85%;
      height: 90%;
      background-size: cover;
      opacity: 0.9;
      
  }
  #mainright{
      width: 100%;
      height: 110%;
  }
  #registermain{
      font-size: 30px;
      margin-top: -40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #0525BC;
  }
  #registermain2{
      display: block;
      height: 8vh;
      width: 14vw;
      margin-right: 2vw;
  }
  #formm{
      height: 95vh;
      opacity: 1;
      margin-left: -3px;
      position: relative;
      bottom: 20px;
  }
  .label,select{
    /* color: black;
    font-weight: bold; */
  }
  input,select{
    border-color: #113B7A;
    background: rgb(233, 232, 232);
  }
  select{
    width: 50%;
  }

  #submitbtn{
    height: 7vh;
    width: 17vw;
    font-size: 12px;
  }
  .inline{
    width: 92%;
  }
  
  #formmain{
      margin-top: 10%;
  }
  .label{
    z-index: 0;
  }
}
@media (min-width:390px) and (max-width:1132px){
  #submitbtn {
    
    background-color: transparent;
    position: relative;    right: 24.9vw;
  }
}
@media (max-width:390px) and (min-width:0px){
  #submitbtn {
    
    background-color: transparent;
    position: relative;
    right: 18.9vw;
    width: 30vw;
  }
  .inline{
    width: 62.4vw;
  }
  #select3{
    width: 44%;
  }
}
@media (min-width:390px) and (max-width:1132px){
  select{
    width: 45%;
  }
  Button{
   right: 46.7%; 
  }
  #select2{
    position: relative;
    right: 2%;
  }
  #select3{
    width: 28.5vw;
  }
}
@media (min-width:381px) and (max-width:1045px){
  select{
    width: 45%;
  }
  Button{
   right: 46.7%; 
  }
}
@media (max-width:381px){
  select{
    width: 49%;
  }
  .inline{
    justify-content: space-between;
    width: 62.4vw;
}
}
